* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #966a83;
  --secondary-color: #24262F;
  --font-color: #4E525A;
  --background-color: #e9d6e6;
}

ul, li, summary {
  list-style: none;
}


body {
  background-color: var(--background-color);
  color: var(--font-color);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding: 0 40px;

  height: 100%;
  min-height: 100vh;

  .emphasis {
    color: var(--primary-color);
    margin-left: 0.15rem;
  }

  h2 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 3rem;;
    margin-bottom: 2rem;
  }

  main #hero { padding: 3rem 0; }
  main #about { padding: 3rem 0; }
  main #skills { padding: 3rem 0; }
    
    #hero {
      article {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        >p {
          font-size: 1.5rem;
          line-height: 1.8rem;
        }

        .title {
          color: var(--secondary-color);
          font-size: 5.5rem;
          font-weight: bolder;
          line-height: 3.5rem;
        }
      }

      
    }

    #about {
      article {
        line-height: 1.5rem;

        p {
          margin-bottom: 1rem;
        }
      }
    }

    #experience {
      article { 
        details {
          display: block;
          padding: 0 10px;
          border-left: 2px solid var(--secondary-color);
          margin-bottom: 1rem;
          
          &[open] {
            border-color: var(--primary-color);
          }
          
          summary {
            cursor: pointer;
            padding: 1rem 0;
            font-weight: 500;
          }
          
          div {
            padding-left: 1rem;
            padding-bottom: 1rem;
            color: var(--font-color);
          }
        }
      }
    }


    #skills {
      article {
        display: grid;
       
        gap: 20px;

        .skillTitle {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
